@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Plus+Jakarta+Sans:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  background: rgb(118, 196, 196);
  font-family: 'PT Sans', sans-serif;
}
body, html {
  height: 100vh;
}
h1 {
  font-size: 64px;
  font-weight: 700;
}

h2 {
  font-size: 96px;
  font-weight: 700;
}
h3 {
  font-size: 48px;
  font-weight: 700;
}

h4 {
  font-size: 32px;
  color:#345E90;
}
.wrapper {
  display: grid;
  width: 100%;
 }
              /*Меню*/
.header {
display: flex;
width: 100%;
background-color: #345E90;
justify-content: space-between;
align-items: center;
padding-left: 20px;
padding-right: 20px;
}

.header_logo {
background-image: url(../images/logo1.png);
background-repeat: no-repeat;
background-size: cover;
display: block;
width: 50px;
height: 50px;
}

.header_list {
list-style: none;
padding-left: 0;
margin: 0;
display: flex;
align-items: center;
}
.header_item {
margin-left: 32px;
color: #fff;
}
.header_item.phon_number {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.header_item:first-child {
  margin-left: 0; /* убрать левый отступ только у домика home */
}
.header_link {
color: #fff;
text-decoration: none;
font-size: 20px;
}

.header_link.vk {
background-image: url(../images/icon/vk.svg);
background-repeat: no-repeat;
background-size: cover;
display: block;
width: 36px;
height: 36px;
}

.header_link.telega {
background-image: url(../images/icon/tel.svg);
background-repeat: no-repeat;
background-size: cover;
display: block;
width: 36px;
height: 36px;
}
.custom-button {
  display: block;
  text-align: right;
  background-color: #fff;
  margin: 0;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
              /*банер- главная страница*/
.banner {
  grid-column: 1/2; 
  grid-row: 2/3;
  position: relative;
  background-color: #fff;
  background-image: url(../images/1page.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 20px 50px 20px;
  height: 900px;
}
.custom-button-1 {
  display: block;
  text-align: right;
  background-color: #fff;
  margin: 0;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.wrapper_banner {

}
.title1 {
color: #CD2733;
}
.title2 {
color: #102B4B;
}
.title3 {
color: #ffffff;
margin-left: 60px;
}
.title4 {
margin-top: -120px;
margin-left: 60px;
}

.banner_line {
  display: block;
  background: #ffffff;
  grid-column: 1/4;
  grid-row: 1/2;
  height: 60px;
}
.about_us {
  grid-column: 1/2; 
  grid-row: 3/4;
  position: relative;
  background: linear-gradient(180deg, #345E90 0%, rgba(52, 94, 144, 0) 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 20px 50px 20px;
  height: 900px;
}
.about_us_1 {

}


.page_news {

}
.page_news_1 {

}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
    /*gap: 20px;*/
}
.grid-item {


}
.grid-item-title3 {
  display: block;
  background: linear-gradient(90deg, #CD2733 3.14%, rgba(205, 39, 51, 0) 100%);
  height: 140px;
  position: relative;
}
.grid-item-img {
  background-color: #fff;
  grid-column: 1;
  grid-row: 1;
}

.grid-item-text {
  grid-column: 1;
  grid-row: 2;
}

.grid-item-img2 {
  grid-column: 2;
  grid-row: 1;
}

.grid-item-text2 {
  grid-column: 2;
  grid-row: 2;
}
.grid-item-img3 {
  grid-column: 3;
  grid-row: 1;
}

.grid-item-text3 {
  grid-column: 3;
  grid-row: 2;
}




/*.bg-project {
  display: block;
  background-color: rgba(52, 94, 144, 0.5);
}*/
.bg-project-icon {

}

.proekt_text_mini {
display: block;
background-color: rgba(52, 94, 144, 0.5);
font-size: 20px;
}



.slaider {
  display: block;
  text-align: right;
  background-color: #fff;
  margin: 0;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
















/* всплывающее окно:*/

textarea {
  /*пишим элемент без точки*/
  width: 100%;
  resize: none;
}

.content {
  text-align: center;
}
button {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #ffffff;
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 0;
}
button:focus {
  outline: none !important;
}
input,
textarea {
  color: #494949;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  background: #ffffff;
  font-size: 14px;
  margin: 0 0 10px;
  padding: 2px;
  width: 100%;
  line-height: 1.5;
}
input:focus {
  border-color: #808080;
  outline: none;
}
textarea:focus {
  border-color: #808080;
  outline: none;
}
.blue_btn {
  background-color: #67b8f7;
  box-shadow: 0px 5px 0px 0px #3c93d5;
}
.overlay_popup {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5; /*прозрачность 50%*/
}
.popup {
  display: none;
  position: relative;
  z-index: 1000;
  margin: -800px 25% 0 35%;
  width: 50%;
}
.object {
  width: 500px;
  height: 600px;
  background-color: #eee;
  padding: 50px 70px;
}

/* A:link { 
    text-decoration: none; } /* Убирает подчеркивание для текстовых ссылок 
A:visited {
  text-decoration: none;
}
A:active {
  text-decoration: none;
}
A:hover {
  text-decoration: none; /* Делает ссылку красной при наведении на нее курсора
  color: red;
} */ 